figure, header, h1, p {
  margin: 0;
}

.description__button, .dog-list-selector__button {
    /* 
    見本画像のボタンがmaterial designのbuttonっぽいので
    それを参考にCSSを構成
    プロパティは以下サイトを参考に設定した
    https://rabico.dev/how-to-create-button-of-material-design/
  */
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  /* 要素に標準スタイルを適用させない */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  margin: 4px;
  border-radius: 4px;
  background-color: #2c7bff;
  color: #fff;
}

.app {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 10px 0;
}

.header__title {
  width: 100%;
  text-align: center;
}

.description {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.description__text {
  margin: auto;
}

.description__button {
  grid-column: 2;
  margin: 10px;
  margin-left: auto;
}

.description__button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.dog-image {
  max-width: 100%;
  margin: 0 auto;
}

.dog-image__image {
  max-width: 100%;
  height: 350px;
  object-fit: contain;
}

.dog-list-selector {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-top: 1px solid #000;
}

.dog-list-selector__text {
  margin: 0 20px;
}

.dog-list-selector__button {
  margin-left: 20px;
}

.dog-list-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.dog-list-content__item {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .dog-list-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .dog-list-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .description {
    grid-template-columns: 1fr;
  }

  .description__button {
    grid-column: 1;
  }

  .dog-list-content {
    grid-template-columns: 1fr;
  }
}